In [1]:
#İki boyutlu listeler

In [9]:
import random

ROWS = 3
COLS = 4

values = [[0, 0, 0, 0],
          [0, 0, 0, 0],
          [0, 0, 0, 0]]

for r in range(ROWS):
    for c in range(COLS):
        values[r][c] = random.randint(1, 100)

print(values)

[[81, 59, 8, 14], [8, 73, 22, 83], [13, 43, 68, 39]]

In [10]:
#Sözlükler

In [11]:
mydict = dict()
mydict

{}

In [12]:
mydict = {}
mydict

{}

In [13]:
mydict = {1 : 'one', 2 : 'two', 3 : 'three'}
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [15]:
mydict = dict({1 : 'one', 2 : 'two', 3: 'three'})
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [16]:
mydict = {'A' : 'one', 'B' : 'two', 'C' : 'three'}
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [17]:
mydict = {1 : 'one', 'A' : 'two', 3 : 'three'}
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [18]:
mydict.keys()

dict_keys([1, 'A', 3])

In [19]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [20]:
mydict.items()

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [21]:
mydict = {1 : 'one', 2 : 'two', 'A' : ['Doğu', 'İsmail', 'Azra'], 'B' : ('Bat', 'Cat', 'Hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['Doğu', 'İsmail', 'Azra'],
 'B': ('Bat', 'Cat', 'Hat')}

In [22]:
mydict = {1 : 'one', 2 : 'two', 'A' : {'Name' : 'Doğu', 'Age' : 34} , 'B' : ('Bat', 'Cat', 'Hat')}
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'Doğu', 'Age': 34},
 'B': ('Bat', 'Cat', 'Hat')}

In [23]:
keys = {'a', 'b', 'c', 'd'}
mydict3 = dict.fromkeys(keys)
mydict3

{'c': None, 'a': None, 'd': None, 'b': None}

In [24]:
keys = {'a', 'b', 'c', 'd'}
value = 10
mydict3 = dict.fromkeys(keys, value)
mydict3

{'c': 10, 'a': 10, 'd': 10, 'b': 10}

In [25]:
keys = {'a', 'b', 'c', 'd'}
value = [10, 20, 30]
mydict3 = dict.fromkeys(keys, value)
mydict3

{'c': [10, 20, 30], 'a': [10, 20, 30], 'd': [10, 20, 30], 'b': [10, 20, 30]}

In [26]:
value.append(40)
mydict3

{'c': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'b': [10, 20, 30, 40]}

In [27]:
keys = [10, 20, 30]
value = {'a', 'b', 'c', 'd'}
mydict5 = dict.fromkeys(keys, value)
mydict5

{10: {'a', 'b', 'c', 'd'}, 20: {'a', 'b', 'c', 'd'}, 30: {'a', 'b', 'c', 'd'}}

In [28]:
mydict = {1 : 'one', 2 : 'two', 3 : 'three', 4 : 'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [29]:
mydict[1]

'one'

In [30]:
mydict.get(1)

'one'

In [31]:
mydict1 = {'Name' : 'Doğu', 'ID' : 210949, 'DOB' : 1989, 'Job' : 'Engineer'}

In [32]:
mydict1

{'Name': 'Doğu', 'ID': 210949, 'DOB': 1989, 'Job': 'Engineer'}

In [33]:
mydict1['Name']

'Doğu'

In [34]:
mydict1.get('Job')

'Engineer'

In [35]:
#Ekleme, Silme ve Güncelleme
mydict1 = {'Name' : 'Doğu', 'ID' : 210949, 'DOB' : 1989, 'Job' : 'Engineer'}
mydict1['DOB'] = 1992
mydict1['Address'] = 'Lefkoşa' 
mydict1

{'Name': 'Doğu',
 'ID': 210949,
 'DOB': 1992,
 'Job': 'Engineer',
 'Address': 'Lefkoşa'}

In [36]:
dict1 = {'Address' : 'Girne'}
mydict1.update(dict1)
mydict1

{'Name': 'Doğu',
 'ID': 210949,
 'DOB': 1992,
 'Job': 'Engineer',
 'Address': 'Girne'}

In [37]:
dict1 = {'DOB' : 1995}
mydict1.update(dict1)
mydict1

{'Name': 'Doğu',
 'ID': 210949,
 'DOB': 1995,
 'Job': 'Engineer',
 'Address': 'Girne'}

In [38]:
mydict1.pop('Job')
mydict1

{'Name': 'Doğu', 'ID': 210949, 'DOB': 1995, 'Address': 'Girne'}

In [39]:
mydict1.popitem()

('Address', 'Girne')

In [40]:
mydict1

{'Name': 'Doğu', 'ID': 210949, 'DOB': 1995}

In [41]:
del [mydict1['ID']]
mydict1

{'Name': 'Doğu', 'DOB': 1995}

In [42]:
mydict1.clear()
mydict1

{}

In [43]:
del mydict1
mydict1

NameError: name 'mydict1' is not defined

In [44]:
#Kopyalama
mydict2 = {'Name' : 'Doğu', 'ID' : 210949, 'DOB' : 1989, 'Address' : 'Helsinki'}
mydict2

{'Name': 'Doğu', 'ID': 210949, 'DOB': 1989, 'Address': 'Helsinki'}

In [45]:
mydict22 = mydict2

In [46]:
id(mydict2), id(mydict22)

(2102337780352, 2102337780352)

In [47]:
mydict222 = mydict2.copy()

In [48]:
id(mydict222)

2102338484608

In [49]:
mydict2['Address'] = 'Lefkoşa'

In [50]:
mydict2

{'Name': 'Doğu', 'ID': 210949, 'DOB': 1989, 'Address': 'Lefkoşa'}

In [51]:
mydict22

{'Name': 'Doğu', 'ID': 210949, 'DOB': 1989, 'Address': 'Lefkoşa'}

In [52]:
mydict222

{'Name': 'Doğu', 'ID': 210949, 'DOB': 1989, 'Address': 'Helsinki'}

In [53]:
#Sözlük Üzerinde İterasyon

In [54]:
mydict1 = {'Name' : 'İsmail', 'ID' : 12345, 'DOB' : 1991, 'Address' : 'Helsinki', 'Job' : 'Analyst'}
mydict1

{'Name': 'İsmail',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Helsinki',
 'Job': 'Analyst'}

In [55]:
for i in mydict1:
    print(i, ':', mydict1[i])

Name : İsmail
ID : 12345
DOB : 1991
Address : Helsinki
Job : Analyst

In [56]:
for i in mydict1:
    print(mydict1[i])

İsmail
12345
1991
Helsinki
Analyst

In [57]:
#Sözlük Üyelikleri (IN / NOT IN)

In [58]:
mydict1 = {'Name' : 'Doğu', 'ID' : 123456, 'DOB' : 1989, 'Job' : 'Analyst'}
mydict1

{'Name': 'Doğu', 'ID': 123456, 'DOB': 1989, 'Job': 'Analyst'}

In [59]:
'Name' in mydict1

True

In [60]:
'Doğu' in mydict1

False

In [61]:
'ID' in mydict1

True

In [62]:
'Address' in mydict1

False

In [63]:
#All / Any

In [64]:
mydict1 = {'Name' : 'Doğu', 'ID' : 123456, 'DOB' : 1989, 'Job' : 'Analyst'}
mydict1

{'Name': 'Doğu', 'ID': 123456, 'DOB': 1989, 'Job': 'Analyst'}

In [65]:
all(mydict1)

True

In [66]:
any(mydict1)

True

In [67]:
mydict1[0] = 'test1'
mydict1

{'Name': 'Doğu', 'ID': 123456, 'DOB': 1989, 'Job': 'Analyst', 0: 'test1'}

In [68]:
all(mydict1)

False

In [69]:
any(mydict1)

True

In [70]:
#Dictionary Comprehension

In [71]:
double = {i : i*2 for i in range(10)}
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [72]:
square = {i : i**2 for i in range(10)}

In [73]:
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [74]:
# {key : value for var in iterable}

In [75]:
key = ['one', 'two', 'three', 'four', 'five']
value = [1,2,3,4,5]
mydict = {k : v for (k, v) in zip(key, value)}
mydict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [76]:
mydict1 = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40, 'e' : 50}
mydict1 = {k : v / 10 for (k,v) in mydict1.items()}
mydict1

{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

In [77]:
str1 = 'Natural Language Processing'

mydict2 = {k : v for (k, v) in enumerate(str1)}
mydict2

{0: 'N',
 1: 'a',
 2: 't',
 3: 'u',
 4: 'r',
 5: 'a',
 6: 'l',
 7: ' ',
 8: 'L',
 9: 'a',
 10: 'n',
 11: 'g',
 12: 'u',
 13: 'a',
 14: 'g',
 15: 'e',
 16: ' ',
 17: 'P',
 18: 'r',
 19: 'o',
 20: 'c',
 21: 'e',
 22: 's',
 23: 's',
 24: 'i',
 25: 'n',
 26: 'g'}

In [78]:
str1 = "abcdefghijklmnoprstuvxyz"
mydict3 = {i : i.upper() for i in str1}
mydict3

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}

In [79]:
mystr4 = "one two three four one two two three five five six seven six seven one two three four five"

mylist = mystr4.split()

In [80]:
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'two',
 'three',
 'four',
 'five']

In [81]:
mylist1 = set(mylist)
mylist1 = list(mylist1)
mylist1

['two', 'one', 'four', 'three', 'seven', 'six', 'five']