In [1]:
#Sözlük veri yapısı kullanarak her bir kelimenin sıklığını hesaplayan bir program yazalım

In [2]:
mystr4 = "one two three four one two two three five five six seven six seven one two three four five"

mylist = mystr4.split()
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'two',
 'three',
 'four',
 'five']

In [3]:
mylist1 = set(mylist)
mylist1 = list(mylist1)
mylist1

['seven', 'three', 'two', 'five', 'one', 'four', 'six']

In [4]:
count1 = [0] * len(mylist1)
mydict5 = dict()
for i in range(len(mylist1)):
    for j in range(len(mylist)):
        if mylist1[i] == mylist[j]:
            count1[i] += 1
    mydict5[mylist1[i]] = count1[i]
print(mydict5)

{'seven': 2, 'three': 3, 'two': 4, 'five': 3, 'one': 3, 'four': 2, 'six': 2}

In [5]:
myset = {1,2,3,4,5}
myset

{1, 2, 3, 4, 5}

In [6]:
len(myset)

5

In [7]:
my_set = {1,1,2,2,3,4,5,5}
my_set

{1, 2, 3, 4, 5}

In [8]:
myset1 = {1.79, 2.08, 3.99, 4.56, 5.45}
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [9]:
myset2 = {'Doğu', 'İsmail', 'Azra'}
myset2

{'Azra', 'Doğu', 'İsmail'}

In [10]:
myset3 = {10, 20, "Hello", (11,22,33)}
myset3

{(11, 22, 33), 10, 20, 'Hello'}

In [12]:
myset3 = {10, 20, "Hello", [11,22,33]}
myset3

TypeError: unhashable type: 'list'

In [13]:
myset4 = set()
print(type(myset4))

<class 'set'>

In [14]:
my_set1 = set(('one', 'two', 'three', 'four'))
my_set1

{'four', 'one', 'three', 'two'}

In [15]:
#İterasyon

In [16]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

for i in myset:
    print(i)

seven
three
two
eight
five
one
four
six

In [17]:
for i in enumerate(myset):
    print(i)

(0, 'seven')
(1, 'three')
(2, 'two')
(3, 'eight')
(4, 'five')
(5, 'one')
(6, 'four')
(7, 'six')

In [18]:
#Üyelik

In [19]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [20]:
'one' in myset

True

In [21]:
if 'eleven' in myset:
    print('eleven is present in the set')
else:
    print('eleven is not present in the set')

eleven is not present in the set

In [22]:
#Eleman Ekleme / Çıkarma

In [23]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [24]:
myset.add('NINE')
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [25]:
myset.update(['TEN', 'ELEVEN', 'TWELVE'])
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [26]:
myset.remove('NINE')
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [27]:
myset.discard('TEN')
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [28]:
myset.clear()
myset

set()

In [29]:
del myset
myset

NameError: name 'myset' is not defined

In [30]:
#Kopyalama

In [31]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [32]:
myset1 = myset #myset1 isminde yeni bir referans oluşturulur
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [33]:
id(myset), id(myset1)

(1598284504192, 1598284504192)

In [34]:
my_set = myset.copy()
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [35]:
id(my_set)

1598284503520

In [36]:
myset1.add('nine')
myset1

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [37]:
myset1

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [38]:
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [39]:
#Küme Operasyonları

In [40]:
#Birleşim (Union)

In [41]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [42]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [43]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [44]:
A.union(B, C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [45]:
A

{1, 2, 3, 4, 5}

In [46]:
A.update(B, C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [47]:
#Kesişim (Intersection)

In [49]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [50]:
A & B

{4, 5}

In [51]:
A.intersection(B)

{4, 5}

In [52]:
A.intersection_update(B)
A

{4, 5}

In [53]:
#Fark (Difference)

In [54]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [55]:
A - B

{1, 2, 3}

In [56]:
A.difference(B)

{1, 2, 3}

In [57]:
B - A

{6, 7, 8}

In [58]:
B.difference(A)

{6, 7, 8}

In [59]:
B.difference_update(A)
B

{6, 7, 8}

In [60]:
#Symmetric Difference

In [61]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [62]:
A ^ B

{1, 2, 3, 6, 7, 8}

In [63]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [64]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

In [65]:
#Subset, Superset, Disjoint

In [66]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [67]:
B.issubset(A)

True

In [68]:
A.issuperset(B)

True

In [69]:
C.isdisjoint(A)

True

In [70]:
B.isdisjoint(A)

False

In [71]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [72]:
sum(A) #built-in fonksiyonlar

45

In [73]:
max(A)

9

In [74]:
min(A)

1

In [75]:
len(A)

9

In [76]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [77]:
D = sorted(A, reverse = True)

In [78]:
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [79]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
#Fonksiyonlar

In [81]:
def message():
    print('I am Arthur,')
    print('King of the Britons.')
    
message()

I am Arthur,
King of the Britons.

In [82]:
def main():
    print('I have a message for you.')
    message()
    print('Goodbye')
    
def message():
    print('I am Arthur,')
    print('King of the Britons.')
    
main()

I have a message for you.
I am Arthur,
King of the Britons.
Goodbye