In [1]:
res = (lambda *args : sum(args))
res(10, 20), res(10,20,30,40), res(10, 20, 30,40, 50,60,70)

(30, 100, 280)

In [2]:
res1 = (lambda **kwargs : sum(kwargs.values()))
res1(a = 10, b = 20, c = 30), res1(a = 10, b = 20, c = 30, d = 40, e = 50)

(60, 150)

In [4]:
def product(nums):
    total = 1
    for i in nums:
        total *= i #total = total * i
    return total

res1 = (lambda **kwargs : product(kwargs.values()))
res1(a = 10, b = 20, c = 30), res1(a = 10, b = 20, c = 30, d = 40, e = 50)

(6000, 12000000)

In [5]:
def myfunc(n):
    return lambda a : a + n

add10 = myfunc(10)
add20 = myfunc(20)
add30 = myfunc(30)

print(add10(5))
print(add20(5))
print(add30(5))

15
25
35

In [6]:
#Filter (function, iterable) , iterable : sets, lists, tuples etc.

In [ ]:
#filter(lambda n : n%2 == 1, list1)

In [9]:
list1 = [1,2,3,4,5,6,7,8,9]
def odd(n):
    if n%2 == 1:
        return True
    else:
        return False
    
odd_num = list(filter(odd, list1))
odd_num

[1, 3, 5, 7, 9]

In [10]:
list1 = [1,2,3,4,5,6,7,8,9]
odd_num = list(filter(lambda n : n%2 == 1, list1))
odd_num

[1, 3, 5, 7, 9]

In [11]:
#Map(function, iterable)

In [14]:
def twice(n):
    return n*2

doubles = list(map(twice, odd_num))
doubles

[2, 6, 10, 14, 18]

In [15]:
doubles = list(map(lambda n:n*2, odd_num))
doubles

[2, 6, 10, 14, 18]

In [16]:
from functools import reduce

def add(a, b):
    return a + b

sum_all = reduce(add, doubles)
sum_all

50

In [17]:
sum_all = reduce(lambda a, b : a + b, doubles)
sum_all

50

In [18]:
from functools import reduce
list1=[1,2,3,4,5,6,7,8,9]
odd_num=list(filter(lambda n:n%2==1, list1))
doubles = list(map(lambda n:n*2, odd_num))
sum_all= reduce(add,doubles)
sum_all

50

In [19]:
sum_all = reduce(lambda a,b : a + b, list(map(lambda n : n*2, list(filter(lambda n : n%2, list1)))))
sum_all

50

In [20]:
list2 = ['one', 'TWO', 'three', 'FOUR']
upper = list(filter(lambda x : x.isupper(), list2))
lower = list(filter(lambda x : x.islower(), list2))
print(upper)
print(lower)

['TWO', 'FOUR']
['one', 'three']

In [21]:
list3 = ['one', 'two2', 'three3', '88', '99', '102']

numeric = list(filter(lambda x : x.isnumeric(), list3))

alpha = list(filter(lambda x : x.isalpha(), list3))

alphanum = list(filter(lambda x : x.isalnum(), list3))

print(alpha)
print(numeric)
print(alphanum)

['one']
['88', '99', '102']
['one', 'two2', 'three3', '88', '99', '102']

In [29]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

def double(x):
    return x + x

def add(x, y):
    return x + y

def square(x):
    return x * x

print(list(map(double, list1)))
print(list(map(add, list1, list2)))
print(list(map(square, list1)))

print('------------------')

print(list(map(lambda x : x + x, list1)))
print(list(map(lambda x, y : x + y, list1, list2)))
print(list(map(lambda x : x * x, list1)))

[2, 4, 6, 8]
[6, 8, 10, 12]
[1, 4, 9, 16]
------------------
[2, 4, 6, 8]
[6, 8, 10, 12]
[1, 4, 9, 16]

In [32]:
import operator

list2 = [1,2,3,4]

product = reduce(operator.mul, list2)

add = reduce(operator.add, list2)

concat_str = reduce(operator.add, ['Python', ' ', 'Rocks'])

prod = reduce(operator.mul, ['Hello ', 3])

min_num = reduce(lambda a, b : a if a < b else b, list2)

max_num = reduce(lambda a, b : a if a > b else b, list2)

print(product)
print(add)
print(concat_str)
print(prod)
print(min_num)
print(max_num)

24
10
Python Rocks
Hello Hello Hello
1
4