In [2]:
from functools import reduce
list2 = [1,2,3,4,5]

def min_func(a, b):
    return a if a < b else b

def max_func(a, b):
    return a if a > b else b

min_num = reduce(min_func, list2)

max_num = reduce(max_func, list2)

min_num, max_num

(1, 5)

In [4]:
print(reduce(lambda a, b : bool(a and b), [0, 0, 1, 0, 0]))
print(reduce(lambda a, b : bool(a and b), [2, 3, 1, 5, 6]))
print(reduce(lambda a, b : bool(a and b), [8, 9, 1, 0, 9]))

False
True
False

In [5]:
print(reduce(lambda a, b : bool(a or b), [0, 0, 0, 0, 0]))
print(reduce(lambda a, b : bool(a or b), [2, 3, 1, 5, 6]))
print(reduce(lambda a, b : bool(a or b), [8, 9, 1, 0, 9]))

False
True
True

In [6]:
#String FonksiyonlarÄ±

In [7]:
mystr2 = "    Hello Everyone   "
mystr2

'    Hello Everyone   '

In [8]:
mystr2.strip()

'Hello Everyone'

In [9]:
mystr2.rstrip()

'    Hello Everyone'

In [10]:
mystr2.lstrip()

'Hello Everyone   '

In [11]:
mystr2 = "********Hello Everyone************All the Best*************"
mystr2

'********Hello Everyone************All the Best*************'

In [12]:
mystr2.strip('*')

'Hello Everyone************All the Best'

In [13]:
mystr2.rstrip('*')

'********Hello Everyone************All the Best'

In [14]:
mystr2.lstrip('*')

'Hello Everyone************All the Best*************'

In [15]:
mystr2 = "    Hello Everyone    "
mystr2

'    Hello Everyone    '

In [16]:
mystr2.lower()

'    hello everyone    '

In [17]:
mystr2.upper()

'    HELLO EVERYONE    '

In [18]:
mystr2.replace('He', 'Ho')

'    Hollo Everyone    '

In [19]:
mystr2.replace(" ", "")

'HelloEveryone'

In [20]:
#count

In [21]:
mystr5 = "one two Three one two two three"

In [22]:
mystr5.count("one")

2

In [23]:
mystr5.count("two")

3

In [24]:
mystr5.count("three")

1

In [25]:
mystr5.count("Three")

1

In [26]:
mystr5.startswith("one")

True

In [27]:
mystr5.endswith("three")

True

In [29]:
mystr4 = "one two three four one two two three five five six seven six seven one one one ten eight ten nine eleven ten ten nine"

mylist = mystr4.split()
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one',
 'one',
 'ten',
 'eight',
 'ten',
 'nine',
 'eleven',
 'ten',
 'ten',
 'nine']

In [30]:
item1 = 40
item2 = 55
item3 = 77

res = "Cost of item1, item2 and item3 are {}, {} and {}"

print(res.format(item1, item2, item3))

Cost of item1, item2 and item3 are 40, 55 and 77

In [31]:
item1 = 40
item2 = 55
item3 = 77

res = "Cost of item1, item2 and item3 are {2}, {1} and {0}"

print(res.format(item1, item2, item3))

Cost of item1, item2 and item3 are 77, 55 and 40

In [32]:
str2 = "WELCOME EVERYONE"

str2 = str2.center(100)

print(str2)

                                          WELCOME EVERYONE

In [33]:
str2 = "WELCOME EVERYONE"

str2 = str2.center(100, '*')

print(str2)

******************************************WELCOME EVERYONE******************************************

In [34]:
str2 = "WELCOME EVERYONE"

str2 = str2.rjust(50)

print(str2)

                                  WELCOME EVERYONE

In [35]:
str2 = "WELCOME EVERYONE"

str2 = str2.rjust(50, '*')

print(str2)

**********************************WELCOME EVERYONE

In [36]:
str4 = "one two three four five six seven"
loc = str4.find("five")
print(loc)

19

In [37]:
str4 = "one two three four five six seven"
loc = str4.index("five")
print(loc)

19

In [38]:
mystr6 = '123456789'
print(mystr6.isalpha())
print(mystr6.isalnum())
print(mystr6.isdecimal())
print(mystr6.isnumeric())

False
True
True
True

In [39]:
mystr6 = 'abcde'
print(mystr6.isalpha())
print(mystr6.isalnum())
print(mystr6.isdecimal())
print(mystr6.isnumeric())

True
True
False
False

In [40]:
mystr6 = 'abc12309'
print(mystr6.isalpha())
print(mystr6.isalnum())
print(mystr6.isdecimal())
print(mystr6.isnumeric())

False
True
False
False

In [41]:
mystr7 = 'ABCDEF'
print(mystr7.isupper())
print(mystr7.islower())

True
False

In [43]:
str6 = "one two three four one two two three five five six seven six seven one one one ten eight ten nine eleven ten ten nine"

loc = str6.rfind("one")
print(loc)

75

In [44]:
loc = str6.rindex("one")
print(loc)

75

In [45]:
txt = "     abc def ghi     "
txt.rstrip()

'     abc def ghi'

In [46]:
txt = "     abc def ghi     "
txt.lstrip()

'abc def ghi     '

In [47]:
txt = "     abc def ghi     "
txt.strip()

'abc def ghi'

In [48]:
#escape characters

In [52]:
mystr = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax (1210035807.py, line 1)

In [54]:
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)

My favourite series is "Game of Thrones"

In [56]:
def main():
    outfile = open('philosops.txt', 'w')
    
    outfile.write('Edmund Burke\n')
    outfile.write('David Hume\n')
    outfile.write('John Locke\n')
    
    outfile.close()

main()